<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/lib/html5shiv.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
<!--[if IE 6]>
<script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>粉丝数据报表</title>
 <style type="text/css"> 
       .table {
            border: 1px solid #ddd;
            border-collapse: collapse;
        }
        .table thead tr th,
        .table tbody tr td {
            padding: 8px 12px;
            text-align: center;
            color: #333;
            border: 1px solid #ddd;
            border-collapse: collapse;
            background-color: #fff;
        }
        .redcolor{
        	color:red !important;
        }
        .sizestyle{
          font-size:120%;
        }
    </style> 
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 统计报表管理 <span class="c-gray en">&gt;</span>粉丝数据报表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="f-14" style="margin-bottom:30px;">
	 <form action="{:url('fan/fan_report')}" method="post">
	     <!--/.form start--> 
	     公众号类型 
          <span class="select-box" style="display:inline-block;width:120px;"> 			    
				   <select class="select" name="vipcn_type" id="vipcn_type">
				   		<option value=0>请选择</option>
				   		<option value=1 {eq name="$filter.vipcn_type" value="1"}selected{/eq}>服务号</option>
				   		<option value=2 {eq name="$filter.vipcn_type" value="2"}selected{/eq}>订阅号</option>
				   		<!-- <option value=3 {eq name="$filter.vipcn_type" value="3"}selected{/eq}>企业号</option> -->
				   </select>
	     </span>
	     &nbsp;日期范围： 
	     <input type="text" onfocus="selecttime(1)" name="datemin" id="datemin" value="{$filter.datemin}" placeholder="开始日期" class="input-text Wdate" autocomplete="off"  style="width: 170px;"> 
	     - <input type="text" onfocus="selecttime(2)" name="datemax" id="datemax" value="{$filter.datemax}" placeholder="截止日期" class="input-text Wdate" autocomplete="off"  style="width: 170px;"> 	
	     &nbsp;<button type="submit" class="btn btn-success radius" id="search" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	     <!--/.form end-->				
	     </form>
    </div>
	<div id="container" style="min-width:700px;height:400px">
		<table class="table table-bordered">
		    <thead>
		        <tr class="success">
		            <th width=100>序列</th>
		            <th>公众号名称</th>
		            <th>总粉丝数量</th>
		            <th>今日新增</th>
		            <th>今日删除</th>
		            <th>今日净增</th>
		        </tr>
		    </thead>
		    <tbody>
		       <!-- {volist name="list" id="vo"} -->
		        <tr>
		            <td>{$key+1}</td>
		            <td>{$vo.vipcn_name}</td>
		            <td>{$vo.total_fan_num?$vo.total_fan_num:'-'}</td>
		            <td>{$vo.today_new_num?$vo.today_new_num:'-'}</td>
		            <td>{$vo.today_delete_num?$vo.today_delete_num:'-'}</td>
		            <td>{$vo.today_extra_num?$vo.today_extra_num:'-'}</td>
		        </tr>
		       <!-- {/volist} -->
		        <tr>
		            <td class="redcolor">汇总</td>
		            <td>-</td>
		            <td class="redcolor">{$total_fan_num}</td>
		            <td class="redcolor">{$today_new_num}</td>
		            <td class="redcolor">{$today_delete_num}</td>
		            <td class="redcolor">{$today_extra_num}</td>
		        </tr>
		    </tbody>
		</table>	
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>
 <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script>
/* 关于日期插件My97 DatePicker与Think php模版标签冲突的解决方法*/
function selecttime(flag){
    if(flag==1){
        var endTime = $("#datemin").val();
        if(endTime != ""){
            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
    }else{
        var startTime = $("#datemax").val();
        if(startTime != ""){
            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
    }
 }		
</script>
</body>
</html>